.space-overlay {
  background-color: white;
  width: 160px;
}
.space-overlay-small{
  
  text-decoration: none;
  color: black;
  max-width: 100px;
}
.space-overlay-small-text {
  background-color: white;
  padding: 5px;
  text-decoration: none;
  outline: 1px #aaaaaa solid;
  border-radius:8px
}
.overlay-star {
  fill: currentColor;
  width: 30px;
}
.star-blue {
  color: blue;
}
.star-green {
  color: green;
}
.star-orange {
  color: orange;
}
.star-yellow {
  color: #ffff00;
}
.star-red {
  color: red;
}
